<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio de sesión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="login-box">
        <h1>Inicio de sesión</h1>

        <form method="post">
            <label for="usuario">Ingresa tu nombre</label><br>
            <input type="text" id="usuario" name="usuario" required><br><br>

            <label for="clave">Ingresa tu contraseña</label><br>
            <input type="password" id="clave" name="clave" required><br><br>

            <button type="submit" class="btn-ej2">Verificar</button>
        </form>

        {% if mensaje %}
            <hr>
            <p>{{ mensaje }}</p>
        {% endif %}
    </div>
</body>
</html>